@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color-primary: #6c6c6c;
  --font-color-secondary: #909090;
  --color-primary: #9bb8cd;
}

@layer utilities {
  .clip-path-circle {
    clip-path: circle(50% at 50% 50%);
  }
}
@layer utilities {
  .drop-shadow-img {
    filter: drop-shadow(10px 0px 20px #00000098);
  }
}
@layer utilities {
  .text-shadow {
    text-shadow: 5px 7px 5px #0000002c;
  }
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--font-color-primary);
  margin: 0;

  /* after:content-[""] after:absolute after:left-0 after:top-0 after:w-full after:h-full after:-z-20 */

  /**Animations Files**/
  @keyframes desactivating-dark-mode {
    to {
      transform: translate(3em);
    }
  }
  @keyframes activating-dark-mode {
    to {
      transform: translate(-3em);
    }
  }

  @keyframes sun-effect-icon {
    to {
      rotate: 360deg;
    }
  }
  @keyframes moon-effect-icon {
    50% {
      transform: translateY(-0.3em) scale(0.8);
    }
    100% {
      transform: translateY(1.5em);
    }
  }
  @keyframes toggleLanguageEffect {
    to {
      transform: rotateY(360deg);
    }
  }
}
