@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar-light {
    &::-webkit-scrollbar {
      background-color: transparent;
      height: 25px;
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #4d4dff;
      border-radius: 1em;

      &:hover {
        background-color: #4d4dffa9;
        cursor: pointer;
      }
    }
  }
  .custom-scrollbar-dark {
    &::-webkit-scrollbar-thumb {
      background-color: #38bdf8;

      &:hover {
        background-color: #2c9ac9;
        cursor: pointer;
      }
    }
  }
  .scroll-bar-light {
    &::-webkit-scrollbar {
      background-color: #dedede;
      width: 14px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #3655b3;
    }
  }
  .scroll-bar-dark {
    &::-webkit-scrollbar {
      background-color: #313643;
      width: 14px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #f472b6;
    }
  }
}

@layer components {
  .btn-light {
    @apply max-[900px]:w-[80%] max-[900px]:self-start flex items-center gap-1 p-[0.8em_2em] w-max justify-center rounded-full text-white font-bold hover:duration-200 duration-200 hover:bg-blue-400 bg-light-500  hover:border-light-200 border border-light-500/85 hover:shadow-[0px_8px_7px_#00000049];
  }
  .btn-dark {
    @apply dark:text-theme_dark-sup-pink dark:border-theme_dark-sup-pink dark:after:bg-theme_dark-sup-pink font-bold p-[0.8em_2em] flex w-max  relative hover:text-white hover:z-10  after:absolute after:left-[50%] after:rounded-[2em] after:bottom-0 after:w-0 after:h-full after:-z-10 rounded-[2em] hover:after:left-[0%] hover:after:w-[100%] active:outline active:outline-2 active:outline-light-600 hover:after:duration-[400ms] hover:shadow-[0px_8px_7px_#00000049] duration-300 outline-none;
  }
}

html,
body {
  .sticky-navbar {
    backdrop-filter: blur(5px);
    top: -0.6em;
  }
  .content-available {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 5em;
  }

  .work-experience-container {
    > :nth-child(2) {
      h1 {
        background: #ecececc7;
        height: 2em;
        margin-bottom: 0.3em;
        color: transparent;
        border-radius: 0.2em;
        position: relative;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          left: -1em;
          bottom: -0.5em;
          width: 2em;
          height: 200%;
          background: #ffffff81;
          filter: blur(6px);
          animation: skeleton-loader 800ms ease-out infinite;

          @keyframes skeleton-loader {
            to {
              transform: translateX(10em);
            }
          }
        }
      }
      p {
        background: #ecececc7;
        padding: 0;
        margin-bottom: 0.3em;
        color: transparent;
        border-radius: 0.2em;
        position: relative;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          left: -1em;
          bottom: -0.5em;
          width: 2em;
          height: 200%;
          background: #ffffff81;
          filter: blur(6px);
          animation: skeleton-loader-paragraph 800ms ease-out infinite;

          @keyframes skeleton-loader-paragraph {
            to {
              transform: translateX(20em);
            }
          }
        }
      }

      span {
        background: #ecececc7;
        padding: 0.5em 1.5em;
        margin-top: 0.5em;
        color: transparent;
        border-radius: 0.2em;
        position: relative;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          left: -1em;
          bottom: -0.5em;
          width: 2em;
          height: 200%;
          background: #ffffff81;
          filter: blur(6px);
          animation: skeleton-loader 800ms ease-out infinite;
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: -1.7em;
        top: -1.5em;
        width: 3.2em;
        height: 3.2em;
        border-radius: 50%;
        background: transparent;
        border: 10px solid #dedede;
        border-left-color: #4d4dff;
        animation: spiner 500ms ease infinite;

        @keyframes spiner {
          to {
            transform: rotate(360deg);
          }
        }
      }
      &::before {
        background-color: transparent;
      }
    }
    > :nth-child(5) {
      margin-top: 9em;
    }

    @keyframes loading {
      35% {
        transform: translateY(-0.2em);
      }
      70% {
        transform: translateY(0.2em);
      }
      100% {
        transform: translateY(0em);
      }
    }
  }

  @keyframes location-animation2 {
    to {
      transform: scaleX(1);
      background-color: #00000049;
    }
    from {
      transform: scaleX(0.2);
      background-color: #000;
    }
  }

  @keyframes location-animation {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-0.2em);
    }
  }

  @keyframes bouncing {
    0 {
      transform: translate(0em, 15em) scale(1.2);
    }
    25% {
      transform: translate(-2em, -10em) scale(2.5);
    }
    70% {
      transform: translate(-10em, 7em) scale(1.5);
    }
    100% {
      transform: translate(-6em, 28em) scale(3);
    }
  }

  @keyframes bouncing2 {
    0% {
      transform: translate(1em, 12em) scale(1.2);
    }
    25% {
      transform: translate(8.5em, 6em) scale(1.2);
    }
    70% {
      transform: translate(2em, -5em) scale(2.5);
    }
    100% {
      transform: translate(5em, 15em) scale(0.8);
    }
  }

  @keyframes bouncing3 {
    0% {
      transform: translate(2em, -5em) scale(1.5) rotate('360deg');
    }
    25% {
      transform: translate(-3em, -20em) scale(3);
      filter: blur(40px);
    }
    70% {
      transform: translate(1em, -8em) scale(1.2);
    }
    100% {
      transform: translate(-5em, -26em) scale(2);
    }
  }

  @keyframes desactivating-dark-mode {
    to {
      transform: translate(3em);
    }
  }

  @keyframes activating-dark-mode {
    to {
      transform: translate(-3em);
    }
  }

  @keyframes sun-effect-icon {
    to {
      rotate: 360deg;
    }
  }

  @keyframes moon-effect-icon {
    50% {
      transform: translateY(-0.3em) scale(0.8);
    }
    100% {
      transform: translateY(1.5em);
    }
  }

  @keyframes toggleLanguageEffect {
    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes location-icon-effect {
    from {
      transform: translateY(0em);
    }
    to {
      transform: translateY(0.5em);
    }
  }
}
