@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
shadow-[14px_30px_20px_-10px_#0000004f] box shadow
[text-shadow:2px_2px_2px_rgba(0,0,0,0.45)] text shadow
*/

@layer utilities {
  .custom-scrollbar {
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #7f27ff;
      border-radius: 1em;
    }
  }
}

html,
body {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    background-color: #ffffff17;
    width: 14px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #3655b3;
    border-radius: 1em;
  }

  .content-available {
    display: block;
    padding: 0 2em 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 5em;
  }

  .work-experience-container {
    > :nth-child(2) {
      h1 {
        background: #ecececc7;
        height: 2em;
        margin-bottom: 0.3em;
        color: transparent;
        border-radius: 0.2em;
        position: relative;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          left: -1em;
          bottom: -0.5em;
          width: 2em;
          height: 200%;
          background: #ffffff81;
          filter: blur(6px);
          animation: skeleton-loader 800ms ease-out infinite;

          @keyframes skeleton-loader {
            to {
              transform: translateX(10em);
            }
          }
        }
      }
      p {
        background: #ecececc7;
        margin-bottom: 0.3em;
        color: transparent;
        border-radius: 0.2em;
        position: relative;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          left: -1em;
          bottom: -0.5em;
          width: 2em;
          height: 200%;
          background: #ffffff81;
          filter: blur(6px);
          animation: skeleton-loader-paragraph 800ms ease-out infinite;

          @keyframes skeleton-loader-paragraph {
            to {
              transform: translateX(20em);
            }
          }
        }
      }
      span {
        background: #ecececc7;
        padding: 0.5em 1.5em;
        margin-top: 0.5em;
        color: transparent;
        border-radius: 0.2em;
        position: relative;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          left: -1em;
          bottom: -0.5em;
          width: 2em;
          height: 200%;
          background: #ffffff81;
          filter: blur(6px);
          animation: skeleton-loader 800ms ease-out infinite;
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: -1.7em;
        top: 0;
        width: 3.2em;
        height: 3.2em;
        border-radius: 50%;
        background: #fff;
        border: 6px solid #dedede;
        border-left-color: #4d4dff;
        animation: spiner 500ms ease infinite;

        @keyframes spiner {
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
    > :nth-child(4) {
      height: 23em;
      position: relative;
    }

    @keyframes loading {
      35% {
        transform: translateY(-0.2em);
      }
      70% {
        transform: translateY(0.2em);
      }
      100% {
        transform: translateY(0em);
      }
    }
  }

  .allow-send-form {
    border-radius: 0.37em;
    font-size: 0.8em;
    color: #fff;
    background-color: #7286d3;
    font-weight: 700;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    transition: all 300ms;
    cursor: pointer;

    &:hover {
      outline: 1px solid #7285d373;
      color: #7286d3;
      background-color: #dcf2f1;
      transform: translateY(-0.3em);
      box-shadow: 0px 8px 7px #00000049;
      transition: all 300ms;
    }
  }

  @keyframes location-animation2 {
    to {
      transform: scaleX(1);
      background-color: #00000049;
    }
    from {
      transform: scaleX(0.2);
      background-color: #000;
    }
  }

  @keyframes location-animation {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-0.2em);
    }
  }

  @keyframes bouncing {
    0 {
      transform: translate(0em, 15em) scale(1.2);
    }
    25% {
      transform: translate(-2em, -10em) scale(2.5);
    }
    70% {
      transform: translate(-10em, 7em) scale(1.5);
    }
    100% {
      transform: translate(-6em, 28em) scale(3);
    }
  }

  @keyframes bouncing2 {
    0% {
      transform: translate(1em, 12em) scale(1.2);
    }
    25% {
      transform: translate(8.5em, 6em) scale(1.2);
    }
    70% {
      transform: translate(2em, -5em) scale(2.5);
    }
    100% {
      transform: translate(5em, 15em) scale(0.8);
    }
  }

  @keyframes bouncing3 {
    0% {
      transform: translate(2em, -5em) scale(1.5) rotate('360deg');
    }
    25% {
      transform: translate(-3em, -20em) scale(3);
      filter: blur(40px);
    }
    70% {
      transform: translate(1em, -8em) scale(1.2);
    }
    100% {
      transform: translate(-5em, -26em) scale(2);
    }
  }

  @keyframes desactivating-dark-mode {
    to {
      transform: translate(3em);
    }
  }

  @keyframes activating-dark-mode {
    to {
      transform: translate(-3em);
    }
  }

  @keyframes sun-effect-icon {
    to {
      rotate: 360deg;
    }
  }

  @keyframes moon-effect-icon {
    50% {
      transform: translateY(-0.3em) scale(0.8);
    }
    100% {
      transform: translateY(1.5em);
    }
  }

  @keyframes toggleLanguageEffect {
    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes location-icon-effect {
    from {
      transform: translateY(0em);
    }
    to {
      transform: translateY(0.5em);
    }
  }
}
